@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;

  --color-primary: #5b3fd5;
  --bg-color: #ebebeb;
}

.inputstyle {
  @apply bg-zinc-100 rounded-md p-[10px] 
}

input {
  @apply inputstyle h-[45px];
}

textarea {
  @apply inputstyle;
  resize: none;
}
